#backBox {
    position: fixed;
    padding: 0px;
    background-color: #ffb240;
    width: 1000px;
    height: 665px;
    left: 30px;
    top: 30px;
}

body {
    background-color: #ffef91;
}

#clock {
    font: 150px Arial;
    position: fixed;
    color: black;
    left: 200px;
    top: 0px;
    display: block;
}

#text {
    font: 50px Arial;
    position: fixed;
    color: black;
    left: 200px;
    top: 300px;
    width: 900px;
    display: block;
}

.stars {
    position: fixed;
    color: black;
    left: 400px;
    top: 300px;
    width: 700px;
    
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.stars button {
    font: 50px Arial;
    background-color: #ffb240;
    border: none;
    display: none;
}

#studyLength {
    position: fixed;
    top: 500px;
    left: 100px;
    display: block;
}

#studyLengthSlider, #breakDistanceSlider {
    accent-color: #ff6600;
    width:250px
}

#breakDistance {
    position: fixed;
    top: 500px;
    left: 700px;
    display: block;
}

#breakDistance p, #studyLength p {
    font: 20px Arial;
}

#start {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    top: 500px;
    left: 400px;
    font: 36px Arial;
    color: black;
    background-color: #ffef91;
    transition-duration: 0.1s;
    display: block;
}

#stop {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    top: 500px;
    left: 400px;
    font: 36px Arial;
    color: black;
    background-color: #ffef91;
    transition-duration: 0.1s;
    display: none;
}

#shortBreak {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    top: 500px;
    left: 100px;
    font: 36px Arial;
    color: black;
    background-color: #ffef91;
    transition-duration: 0.1s;
    display: none;
}

#longBreak {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    top: 500px;
    left: 700px;
    font: 36px Arial;
    color: black;
    background-color: #ffef91;
    transition-duration: 0.1s;
    display: none;
}

button:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#b4 {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    font: 36px Arial;
    color: black;
    transition-duration: 0.1s;
    background-color: #ffb240;
    top: 100px;
    left: 1100px;
}

#b5 {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    font: 36px Arial;
    color: black;
    transition-duration: 0.1s;
    background-color: #ffb240;
    top: 300px;
    left: 1100px;
}

#b6 {
    position: fixed;
    border: none;
    height: 100px;
    width: 250px;
    font: 36px Arial;
    color: black;
    transition-duration: 0.1s;
    background-color: #ffb240;
    top: 500px;
    left: 1100px;
}
