<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn out </title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

   <div id="backBox">
       
     <p id="clock">1</p>
     <p id="text">This is sample text</p>
     <p id="stars">SO IS THIS AHHHHH HHHHHHH</p>
    
    <!--The text elements for the main box-->

     <div id="mainButtons">
            <button id="start" onclick="menuChange1()" v-on:click="startStudy">Start</button>
            <button id="shortBreak" v-on:click="startShortBreak">Take a short break</button>
            <button id="longBreak" v-on:click="startLongBreak">Take a long break</button>
            <button id="stop" v-on:click="endStudySession">Stop</button>

            <div id="studyLength">
                <p>Planned Study Period (minutes)</p>
                <input type="range" min="15" max="300" id="studyLengthSlider" v-model="studyLength">
                <label for="studyLengthSlider">{{studyLength}}</label>
            </div>

            <div id="breakDistance">
                <p>Time between breaks (minutes)</p>
                <input type="range" min="15" max="60" id="breakDistanceSlider" v-model="breakDistance">
                <label for="breakDistanceSlider">{{breakDistance}}</label>
            </div>
                
            
    </div>
    </div>
        <!--The button elements for the main box-->

     
    <div class="sideButtons">
            <button id="b4">Settings</button>
            <button id="b5">Data</button>
            <button id="b6">Hide/show clock</button>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='reminders.js') }}"></script>
</body>
</html>


